*{
    box-sizing: border-box;
}#fondo {
	background-image: url('../Imagenes/Fondo.jpg');
	text-align: center;
	background-position: center center;
	background-size: inherit;
	background-repeat: no-repeat;
	position: relative;
    margin: -10px 0px 0px 0px;
    padding-bottom: -20px;

}#fondo:before {
	content:'';
	position: relative;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#logo{
    display: inherit;
	height: 100px;
	width: 300px;
	cursor: pointer;
    margin-left: -50px;
	background-color: #33a24f;
}
#logo2{
    display: inherit;
	height: 100px;
	width: 400px;
    margin-left: 330px;
    margin-right: -15px;
    margin-top: -100px;
	cursor: pointer;
	background-color: #33a24f;
}
li,a{
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: white;
	text-decoration: none;
	background-color: #33a24f;
    color: #9de0ad;
    list-style:Natu;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;	
	padding: 0px 14%;
	border: solid;
    margin-top: 8px;
	border-color: rgb(94, 94, 94);
	border-style: ridge;
	background-color: #33a24f;
    color: #9de0ad;
}	
.nav_links{
	list-style: none;
	background-color: #33a24f;
    color: #9de0ad;
}
.nav_links li{
	display: inline-block;
	padding: 6px 8px;
	background-color: #33a24f;
    color: #9de0ad;
}
.nav_link li a {
	transition: all 3s ease 0s;
	background-color: #33a24f;
    color: #9de0ad;
}
li a:hover{
	border-radius: 15px;
	border:solid #00d9d9;
	background-color: #9de0ad;
    font-size: 20px;
    padding-left: 7px;
    padding-right: 7px;
    color: #547a80;
}
#importancia1{
	float: right;
    width: 330px;
    height: auto;
    margin-left: 660px;
    margin-right: 370px;
    margin-top: -455px;
    padding: 15px 15px 15px 15px;
	background-color: #9de0ad;
    box-shadow: 2px 2px 10px 10px darkgrey;
    border-radius: 25px;
    text-align: center;
}
#importancia2{
	float: right;
    width: 330px;
    height: auto;
    margin-left: 950px;
    margin-top: -455px;
    padding: 15px 15px 18px 15px;
    padding-bottom: 25px;
	background-color: #9de0ad;
    box-shadow: 2px 2px 10px 10px darkgrey;
    border-radius: 25px;
    text-align: center;
}
#importancia3{
	float: right;
    width: 330px;
    height: auto; 
    margin-right: 370px;
    margin-top: 10px;
    margin-bottom: 130px;
    padding: 15px 15px 15px 15px;
	background-color: #9de0ad;
    box-shadow: 2px 2px 10px 10px darkgrey;
    border-radius: 25px;
    text-align: center;
}
#importancia4{
	float: right;
    width: 330px;
    height: auto;
    margin-left: 465px;
    margin-top: -555px;
    margin-bottom: 130px;
    padding: 15px 15px 15px 15px;
    padding-bottom: 30px;
	background-color: #9de0ad;
    box-shadow: 2px 2px 10px 10px darkgrey;
    border-radius: 25px;
    text-align: center;
}
#importancia5{
	float: right;
    width: 680px;
    height: 400px;
    margin-left: 600px;
    margin-right: 400px;
    margin-top: -250px;
    margin-bottom: 120px;
    padding: 15px 15px 15px 15px;
	background-color: #547a80;
    box-shadow: 2px 2px 10px 10px darkgrey;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}
.vermas{
	float: right;
    width: 1110px;
    height: auto;
    margin-left:250px;
    margin-top: 25px;
    margin-bottom: 130px;
    padding: 15px 15px 15px 15px;
    padding-bottom: 30px;
	background-color: #9de0ad;
    box-shadow: 2px 2px 10px 10px darkgrey;
    border-radius: 25px;
    text-align: center;
}

.contenidoCo{
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
    width: auto;
    height: auto;
    justify-self: start;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 25px;
	background-color: #547a80;
	color: #9de0ad;
}
#tituloCo{
	font-family: 'Ubuntu', sans-serif;
	font-size: 48px;
    text-align: center;
    border-radius: 25px;
	background-color: #547a80;
    animation: colores 1.5s infinite;
}
@keyframes colores{
    5%{ color: red;}
    20%{ color: orangered;}
    35%{ color: orange;}
    50%{ color: yellow;}
    65%{ color: greenyellow;}
    80%{ color: green;}
    95%{ color: lightskyblue;}
    110%{ color: cyan;}
    125%{ color: blue;}
    140%{ color: violet;}
    155%{ color: purple;}
}
.contenido{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
    width: auto;
    height: auto;
    justify-self: start;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 25px;
	background-color: #9de0ad;
	color: #547a80;
}
.tituloC{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
    text-align: center;
    border-radius: 25px;
	background-color: #9de0ad;
	color: #547a80;
}
.image{
    display: flex;
	justify-content: space-between;
    width: 180px;
    height: 120px;
    padding: 5px 5px 5px 5px ;
    margin: 5px 5px 5px 62px ;
}
#vermas{
    color: #00d9d9;
}
.Formato{
    float: left;
    width: 500px;
    height: 450px;
	background-color: #9de0ad;
    border-radius: 25px;
    margin-left: 180px;
    margin-top: 80px;
    padding: 11px 11px 11px 11px ;
    box-shadow: 2px 2px 10px 10px darkgrey;
    text-align: center;
}
#Sub_F{
    background-color: #9de0ad;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
    color: #547a80;
    margin-top: 8px;
    margin-left: 8px;
    text-align: center;
}
.TituF{
    background-color: #9de0ad;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
    color: #547a80;
    margin-left: 10px;
    margin-right: 15px;
}
#caja1{
    background-color: white;
    color: black;
    font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
    width: 70%;
    height: 10%;
    border-radius: 12px;
    text-align: center;
}
#caja2{
    background-color: white;
    color: black;
    font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
    width: 70%;
    height: 10%;
    border-radius: 12px;
    text-align: center;
}
.boton{
    background-color: #547a80;
    color: #9de0ad;
    font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
    border: solid;
    border-radius: 15px;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.cuadrito1{
    transform: rotateZ(12deg);
    width: 270px;
    height: 180px;
	background-color: #547a80;
    margin-top: 320px;
    border-radius: 25px;
    margin-left: 160px;
    padding: 11px 11px 11px 11px ;
	transition: all 1s ease 0s;
    box-shadow: 8px 8px darkgrey;
}
.cuadrito2{
    transform: rotateZ(-12deg);
    width: 270px;
    height: 125px;
	background-color: #547a80;
    margin-top:70px;
    margin-bottom: 60px;
    border-radius: 25px;
    margin-left: 160px;
    padding: 11px 11px 11px 11px ;
	transition: all 1s ease 0s;
    box-shadow: 8px 8px darkgrey;
}
.cuadrito3{
    transform: rotateZ(12deg);
    width: 270px;
    height: 180px;
	background-color: #547a80;
    margin-top: 5px;
    border-radius: 25px;
    margin-left: 160px;
    padding: 11px 11px 11px 11px ;
	transition: all 1s ease 0s;
    box-shadow: 8px 8px darkgrey;
}
.cuadrito4{
    transform: rotateZ(-12deg);
    width: 270px;
    height: 165px;
	background-color: #547a80;
    margin-top:70px;
    margin-bottom: 60px;
    border-radius: 25px;
    margin-left: 160px;
    padding: 11px 11px 11px 11px ;
	transition: all 1s ease 0s;
    box-shadow: 8px 8px darkgrey;
}
.tituloCu{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
    text-align: center;
    margin-left: 10px;
    border-radius: 25px;
	background-color: #547a80;
	color: #41444b;
}
.CuArticulo{
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
    cursor:text;
    width: auto;
    height: auto;
    justify-self: start;
    border-radius: 25px;
	background-color: #547a80;
	color: #41444b;
}
#contactos{
    border: solid #9de0ad;
    border: 8px;
    border-radius: 12px;
    background-color: #9de0ad;
    text-align: center;
    margin-left: 85px;
    margin-right: 75px;
    margin-top: -70px;
    margin-bottom: 50px;
    color: #41444b;
    font-family: 'Ubuntu', sans-serif;
}
#TituContact{
    font-size: 24px;
}
.Contact{
    font-size: 16px;
}
.cuadrito{
    box-sizing: content-box;
    width: 500px;
    margin-left: 450px;
    padding: 15px 15px 15px 15px;
    background-color: white;
    color: #41444b;
    font-size: 25px;
    border-radius: 10px;
}
#TextoCuadrito{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
    margin-left: 5px;
    justify-self: start;
    border-radius: 25px;
    background-color: white;
	color: #41444b;
}
#TituloCuadrito{
    background-color:white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
    color: #3fc1c9;
    text-align: center;
}
#BotonCuadrito{
    background-color: #41444b;
    color: white;
    font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
    border: solid;
    border-radius: 15px;
    width: 100px;
    margin-left: 660px;
}
.articulo{
	float: left;
    width: auto;
    height: auto;
	margin-left: 180px; 
	margin-right: 150px;
    margin-top: -50px;
    padding: 15px 15px 15px 15px;
	background-color: #41444b;
    box-shadow: 8px 8px darkgrey;  
    border-radius: 25px;
}
.TArticulo{
    background-color: #41444b;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
    color: #dfd8c8;
    text-align: center;
}
.CArticulo{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
    cursor:text;
    width: 1045px;
    height: auto;
    justify-self: start;
    border-radius: 25px;
	background-color: #41444b;
	color: #dfd8c8;
}
.contactenos{
    float: left;
	justify-content: space-between;
    width: 120px;
    height: 100px;
    background-color: #41444b;
    padding: 5px 5px 5px 5px ;
    margin-left: 260px;
    margin-right: 10px;
}
.CAArticulo{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px; 
    margin-left: 120px;
    justify-self: start;
    background-color: #41444b;
	color: #dfd8c8;
}
.ImageArticulo{
    width: 40%;
    margin-left: 320px;
}
.Referencia{
    text-decoration: underline;
    color:crimson;
}
.formularioR{
    width: 600px;
    height: 600px;
    margin-top: 15px;
    margin-left: 460px;
    text-align:center;
    background-color: #9de0ad;
    box-shadow: 2px 2px 10px 10px darkgrey;
}
.formularioT{
    width: 600px;
    height: 600px;
    text-align:center;
    background-color: #9de0ad;
    box-shadow: 2px 2px 10px 10px darkgrey;
}
.TituloReg{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: left;
    background-color: #9de0ad;
}
#textopq{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: -2px;
    background-color: #9de0ad;
}
.cajitasW{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
    width: 240px;
    height: 40px;
    border: inset;
    border-radius: 15px;
    background-color: #9de0ad;
}
.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  margin-top: -15px;
  width:70%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
}

.field>input[type=search],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=search] {
  flex:1;
  padding:0.5em;
  border:0.2em solid rgb(26, 188, 156);
  background-color: #9de0ad;
  color: #547a80;
}

.field>input[type=search]:focus{
    border: none;
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
  cursor: pointer;
}
#lupita{
    width: 30px;
    background-color:rgb(26, 188, 156);
}
#RRegistro{
	color:#547a80;
    margin-top: -30px;
}
.Tabla{
    background-color: #547a80;
    color: #9de0ad;
    border: solid;
    margin-left: 380px;
    margin-top: 10px;
}
.Columnas{  
    background-color: #547a80;
    color: #9de0ad;
    border: unset;
    font-size: 25px;
}
.contenidoTabla{  
    background-color: #9de0ad;
    color: #547a80;
    border: unset;
    font-size: 25px;
}
.tituloTabla{
	font-family: 'Ubuntu', sans-serif;
	font-size: 28px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
	background-color: #9de0ad;
	color: #547a80;
}
.formularioConsulta{
    width: 600px;
    height: 300px;
    text-align:center;
    margin-left: 440px;
    background-color: #9de0ad;
    box-shadow: 2px 2px 10px 10px darkgrey;
}
.botonTabla{
    background-color: #547a80;
    color: #9de0ad;
    font-family: 'Ubuntu', sans-serif;
	font-size: 26px;
    border: solid;
    border-radius: 15px;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.ContenidoConsultaS{
    width: 600px;
    height: auto;
    text-align:center;
    margin-left: 440px;
    background-color: #547a80;
    color: #9de0ad;
    box-shadow: 2px 2px 10px 10px darkgrey;

}